{
	"plugins": ["prettier-plugin-tailwindcss"],
	"endOfLine": "lf",
	"printWidth": 140,
	"tabWidth": 2,
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}
